* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: lightgrey;
}

h1 {
  margin-bottom: 5%;
}

.search-box {
  height: 50px;
  width: 300px;
  font-size: 1.5rem;
}

li {
  list-style: none;
  font-size: 1.5rem;
  margin: 5%;
  border: 1px solid lightsalmon;
}
